<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block header %}
    {% if (is_logged_in is not defined) or (is_logged_in is defined and is_logged_in) %}
        <div>
            <a href="{{ path('github_logout') }}">
                Log out
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
